/*
CSS for MMM-quotes
*/
.MMM-quotes{
  height: 1.5rem;
    color: black !important;
  mix-blend-mode: normal;
  transform:translateY(-2rem);

}
.quotes.quotes-author {
  font-style: italic;
  /*margin-right: -25%;*/
}
