.env
.dist
known_faces/*
features/audio/temp_audio/*
.venv
doc/app flow
myenv
features/weather/__pycache__
temp_audio/*
# Ignore Python cache directories
__pycache__
*.py[cod]
*.pyc
features/common/__pycache__/*
# Ignore backup files
*~
*.wav
*.mp3
*.log
.idea
doc/note
features/face_recognition/__pycache__/face_recognition_system.cpython-312.pyc
log/*

api/static